@page
@model IndexModel

<aside>
    <vc:user-nav />
</aside>

<article>
    <div>
    <a href="/add">Add</a> |
    @if (Model.View == "calendar") {
    <a href="/?view=list&tag=@Model.Tag&link=@Model.Link&find=@Model.Find">View as a list</a>
    } else {
    <a href="/?view=calendar&tag=@Model.Tag&link=@Model.Link&find=@Model.Find">View in a calendar</a>
    }
    </div>

    @if (Model.View == "calendar") {
    <button id="cal-today">Today</button>
    <button id="cal-prev-year">Previous Year</button>
    <button id="cal-prev-month">Previous Month</button>
    <button id="cal-next-month">Next Month</button>
    <button id="cal-next-year">Next Year</button>
    <div id="cal-date"></div>
    <div id="calendar"></div>
    } else {
    <vc:record-entry-list record-entries="@Model.RecordEntries" />
    }
</article>

@section Scripts {
@if (Model.View == "calendar") {
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js" integrity="sha256-ZztCtsADLKbUFK/X6nOYnJr0eelmV2X3dhLDB/JK6fM=" crossorigin="anonymous"></script>
<script type="text/javascript">
$(function() {
    var calendar = new FullCalendar.Calendar(document.getElementById('calendar'), {
        initialView: 'dayGridMonth',
        headerToolbar: false,
        events: [
            { id: 'r1', title: 'record event 1', start: '2024-09-04', allDay: true }
        ]
    });
    calendar.render();
    function onDateChange() { $('#cal-date').text(calendar.getDate().toLocaleDateString(undefined, { year: 'numeric', month: 'long' })); }

    onDateChange();
    $('#cal-today').click(function() { calendar.today(); onDateChange(); });
    $('#cal-prev-year').click(function() { calendar.prevYear(); onDateChange(); });
    $('#cal-prev-month').click(function() { calendar.prev(); onDateChange(); });
    $('#cal-next-year').click(function() { calendar.nextYear(); onDateChange(); });
    $('#cal-next-month').click(function() { calendar.next(); onDateChange(); });
});
</script>
}
}
