@page
@model IndexModel

<aside>
    <vc:user-nav />
</aside>

<article>
    <a href="/add">Add</a> | List | <a href="TODO">Calendar</a>

    <vc:record-entry-list record-entries="@Model.RecordEntries" />
</article>
