@page
@model IndexModel

<aside>
    <nav>
        <ul>
            <li class="TODO"><a href="TODO">GROUP 1</a></li>
            <li class="TODO"><a href="TODO">GROUP 2</a></li>
        </ul>
    </nav>
</aside>

<article>
    Welcome!
</article>
