@page
@model RemindersModel

<aside>
    <vc:user-nav />
</aside>

<article>
    @if (Model.Sort == "bydatedesc") {
    <span>Sort by <a href="/reminders?view=@Model.View&sort=bydateasc">newest</a> reminder date.</span>
    } else {
    <span>Sort by <a href="/reminders?view=@Model.View&sort=bydatedesc">oldest</a> reminder date.</span>
    }
    @if (Model.View == "upcoming") {
    <span>View <a href="/reminders?view=all&sort=@Model.Sort">everything with a reminder</a>.</span>
    } else {
    <span>View <a href="/reminders?view=upcoming&sort=@Model.Sort">only upcoming reminders</a>.</span>
    }

    <vc:record-entry-list record-entries="@Model.RecordEntries" no-entries-message="@(Model.View == "upcoming" ? "No entries with upcoming reminders" : "No entries with reminders")" />
</article>
