@model UserTagListModel

<ul>
    <li class="TODO"><a href="TODO">All entries</a></li>
    @foreach (var (tag, tagCount) in Model.Tags) {
    <li class="TODO"><a href="TODO">@tag (@tagCount)</a></li>
    }
</ul>
