@inject IUserService UserService
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" sizes="16x16" href="/images/srb.png">
    <link rel="apple-touch-icon" href="/images/srb.png" sizes="32x32" />
    <title>Small:RecordBook</title>
    <environment names="Development">
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
    <link rel="stylesheet" href="/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/thedatepicker@2.4.0/dist/the-datepicker.min.css">
</head>
<body>
    <header>
        <nav class="navbar-header">
            <a href="/">
                <img src="/images/srb.png" height="38" width="38" />
                <span>
                    Small:RecordBook
                </span>
            </a>
        </nav>
        <nav class="navbar-main">
            <div class="navbar-nav">
                @if (UserService.IsLoggedIn) {
                    <form method="get" action="/">
                    <span class="narrow-hide">
                    @if (Context.Request.Query.TryGetValue("find", out var findVal)) {
                    <input type="text" name="find" placeholder="Find item..." value="@findVal" autofocus />
                    } else {
                    <input type="text" name="find" placeholder="Find item..." />
                    }
                    <input type="submit" value="Find"/> |</span>
                    <a href="/signout">Logout</a>
                    </form>
                }
            </div>
            <div>
                <img class="nav-show" src="/images/add.png" height="24" width="24" />
                <img class="nav-close" src="/images/close.png" height="24" width="24" />
            </div>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer class="footer">
        &#169; @DateTime.Today.Year Small:RecordBook
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/thedatepicker@2.4.0/dist/the-datepicker.min.js" integrity="sha256-c5E6Y8HrRw6sNkkT4EWZ+lbI7G7XVNS+kVcG2VAAgqA=" crossorigin="anonymous"></script>
    <environment names="Development">
    <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script type="text/javascript">
        $(function() { srbInitialiseNav() })
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>